params {

// -----------------------------------
// Standard Parameters
// -----------------------------------
    INDIR  = "/Volumes/loc/vep_data/input/reads/"
    OUTDIR = "/Volumes/loc/G4500_workflow/output"

    reads = "${params.INDIR}/*_R{1,2}_*.fastq.gz"
    
    REPO_LOCATION = "/Volumes/loc/repo/resources"
    GENOME_REPO = '$REPO_LOCATION/genomes'
    TARGET_REPO = '$REPO_LOCATION/target_genes'
    SPECIES = 'hg38_selected'
    GENE_PANEL = "sorted_G4500.targets.hg38.bed.gz"

// -----------------------------------
// Process Skipping
// -----------------------------------

    bams.use_existing = false
    bams.path = "${params.INDIR}/ggal_bams.csv"

// Keep Temporary Files

    fastqs.save = false
    bams.save  = true

    skip.pre_qc      = false
    skip.counting    = false
    skip.rseqc       = false
    skip.multiqc     = false
    skip.eset        = true
}

process {
    withName:pre_fastqc {
        container = 'quay.io/biocontainers/fastqc:0.11.8--2'
        //cpus = 4
       //memory = 5.GB
    }
    withName:bbmap_trimming {
        container = 'quay.io/biocontainers/bbmap:38.73--h516909a_0'
        //cpus = 4
       //memory = 5.GB
    }
}
docker {
    enabled = true
}